<input type="text" placeholder="Address to filter" [(ngModel)]="addressToFilter">
<button (click)="filterAddresses(addressToFilter)">Filter Address</button>
<button (click)="clearFilter()">Clear Filter</button>







<div *ngFor="let a of filteredAddresses; index as i">
  <div>
    <p>Name: {{a.Name}}</p>
    <p>Address: {{a.Address}}</p>
  </div>
  
  <button (click)="toggleDisplay(i)" *ngIf="!addresses[i].isEditing">Edit Address</button>
  <button (click)="toggleDisplay(i); editAddress(i)" *ngIf="addresses[i].isEditing">Done Editing</button>
  <div *ngIf="addresses[i].isEditing">
    <input type="text" placeholder="Name" [(ngModel)]="addressToEdit.Name"/><br/>
    <input type="text" placeholder="Address" [(ngModel)]="addressToEdit.Address"/><br/>
  </div>
  
</div>